:root {
  --primary: rgb(30, 30, 31);
  --secondary: rgba(43, 43, 44, 0.9);
  --accent: rgb(90, 40, 240);
  --accent-alt: rgba(90, 40, 240, 0.5);
  --background: rgb(237, 235, 226);
  --background-alt: rgb(242, 239, 230);
  --line: rgba(0, 0, 0, 0.1);
  --border: solid var(--line);
  --max: 450px;
  --animation: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* * {
  border: 1px solid red;
} */

::selection,
.highlight {
  background: var(--accent-alt);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 1.5rem;
  background-color: var(--background);
}

section {
  margin-top: 0.75rem;
  max-width: 1200px;
}

h1,
h2,
h3,
a,
p,
li,
span {
  font-family: "Unbounded", sans-serif;
  margin: 0;
  letter-spacing: -0.025em;
  text-align: center;
  text-overflow: ellipsis;
  color: var(--primary);
}

h1 {
  letter-spacing: -0.075em;
  line-height: 3rem;
  font-size: 3rem;
}

h1:hover {
  letter-spacing: -0.055em;
}

h2 {
  font-weight: 400;
}

p, li {
  font-size: 1rem;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
  object-fit: contain;
}

header {
  box-sizing: border-box;
  padding: 2rem clamp(2rem, 5vw, 4rem);
  top: 0;
  /* position: fixed !important; */
  z-index: 1;
}

.logo {
  height: 50px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.absolute {
  position: absolute;
}

.background {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.background.grid {
  /* background-image: radial-gradient(var(--accent) 5%, transparent 5%); */
  background-image: radial-gradient(var(--accent) 7.5%, transparent 5%);
  background-position: 0% 0%;
  /* background-size: 3rem 3rem; */
  background-size: 1.5rem 1.5rem;
  opacity: 0.35;
  filter: blur(1px);
  z-index: -2;
}

.background.grid[data-active="0"] {
  background-position: -2.5% 1%;
}

.background.grid[data-active="1"] {
  background-position: -5% 2%;
}

.background.grid[data-active="2"] {
  background-position: -7.5% 3%;
}

body:has(.menu:hover) .background.grid {
  /* background-size: 2.05rem 2.05rem; */
  background-size: 1.505rem 1.505rem;
  filter: none;
}

body:has(.menu:hover) .background.cover {
  opacity: 0.8;
}

.background.cover {
  background: radial-gradient(circle at bottom left, var(--background) 40%, transparent);
  z-index: -1;
}

.background.slide {
  background: var(--background);
  z-index: 1;
  opacity: 0.75;
  left: 0;
  min-width: 0;
  pointer-events: none;
}

.background.slide.switch {
  opacity: 1;
  min-width: 100vw;
  pointer-events: all;
}

.hidden {
  opacity: 0;
  filter: blur(2.5px);
}

.content {
  max-width: clamp(800px, 60vw, 1000px);
  padding: 12rem 1rem;
  padding-bottom: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 4rem;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}

.left {
  text-align: left;
}

.right {
  margin-left: -0.15rem;
}

.bottom {
  margin-bottom: 0.25rem;
}

.top {
  margin-top: -0.85rem;
}

.tops {
  margin-top: 1rem;
}

.full {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gap {
  gap: 0.5rem;
}

.gaps {
  gap: 1.5rem;
}

.row {
  flex-direction: row;
}

.between {
  justify-content: space-between;
}

.start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.line {
  border-bottom: 1px var(--border);
}

.project {
  width: 100%;
  max-width: var(--max);
  cursor: pointer;
  border: 1px var(--border);
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-alt);
}

.project {
  max-width: 275px;
  padding: 0.5rem;
}

.project .inner,
.project .between {
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
}

.project .inner p {
  font-size: 0.95rem;
}

.project img {
  border-radius: 0.25rem;
  height: 115px;
  width: 100%;
  margin-bottom: 0.25rem;
  border: 0.75px var(--border);
  filter: grayscale(0.5);
}

.project:hover img {
  filter: none;
}

.icon {
  cursor: pointer;
  transition: var(--animation);
}

.lg {
  font-size: 1.1rem;
}

.sm {
  font-size: 0.75rem;
}

.transition {
  transition: all var(--animation);
}

.transition.long {
  transition-duration: 1.5s;
}

.underline:hover,
.underlined {
  text-decoration: underline;
}

.icon:hover {
  color: var(--accent);
  transform: rotate(-7.5deg) scale(1.05);
}

@media (max-width: 650px) {
  h1 {
    letter-spacing: -0.075em;
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p, li {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  a:not(.underlined) {
    font-size: 2rem;
  }

  header {
    padding-left: 1rem;
    position: fixed !important;
  }

  .logo {
    height: 25px;
  }

  .content {
    padding-top: 8rem;
    margin-bottom: 1rem;
  }

  .background.cover {
    background: radial-gradient(circle at top left, var(--background) 30%, transparent);
  }

  .project {
    max-width: var(--max);
  }
}
