@font-face {
  font-family: "vintageGlamour";
  src: url("assets/VintageGlamourItalic.ttf")  format("truetype");
}
@font-face {
  font-family: "greyCliff";
  src: url("assets/greycliff-heavy.otf")  format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "greyCliff";
  src: url("assets/greycliff-semiboldoblique.otf")  format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "greyCliff";
  src: url("assets/greycliff-semibold.otf")  format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #edebe2;
    margin: 0px;
    font-family: "greyCliff";
    font-weight: normal;
    letter-spacing: clamp(-0.2rem, -1vw, -1rem);
    z-index: -1;
  }
  
  #menu {  
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: left;
  }

 #menu #menu-items {
    padding: 0rem clamp(3rem, 5vw, 7rem);
  }

  h1 {
    font-size: clamp(3rem, 8vw, 8rem);
    padding: 0rem clamp(3rem, 5vw, 7rem);
    color: #443ae8;
    opacity: 0;
    z-index: 2;
    letter-spacing: -3rem;
    transition: letter-spacing 1s ease, opacity 200ms ease;
  }

  h1:hover {
    letter-spacing: 0.5rem !important;
  }

  span {
    color: #1f1e1e !important;
    font-family: "vintageGlamour";
    font-style: normal;
  }

  svg {
    position: absolute;
    fill: red;
    z-index: 5;
    opacity: 1;
  }
  
  #menu-items {
    margin-right: auto;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 1.2s ease;
    /* filter: drop-shadow(0rem 0.5rem 0.5rem #443ae8); */
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu-background-pattern {
    background-image: radial-gradient(
      #443ae8 9%, 
      transparent 5%
    );
    background-position: 0% 0%;
    background-size: 0vmin 0vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    opacity: 0.8;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 0;
  }
  
  #menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin !important;
    opacity: 0.3;
  }
  
  #menu-items:hover > .menu-item {
    opacity: 0.2;
  }
  
  #menu-items:hover > .menu-item:hover {
    opacity: 1; 
  }
  
  .menu-item {
    color: #1f1e1e;
    cursor: pointer;
    display: block;
    font-size: clamp(1rem, 4vw, 4rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
    
    background: linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
    linear-gradient(to right, #6961ed, #443ae8, #362eba);;
    background-size: 100% 0.1em, 0 0.1em;
  background-position: 85% 85%, 0 85%;
  background-repeat: no-repeat;
  transition: background-size 400ms, letter-spacing 0.8s ease;;
  }

  .menu-item:hover,
.menu-item:focus {
  letter-spacing: 0.2rem;
  background-size: 0 0.1em, 100% 0.1em;
}

/* .menu-item:hover span {
  letter-spacing: 0.35rem;
} */
  
  :root {  
    --purple: #8f89f1;
    --violet: #443ae8;
    --pink: #362eba;
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }

.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    font-family: "greyCliff";
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  #menu-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(237, 235, 226, 0), rgba(237, 235, 226, 0.95));
    z-index: 1;
  }

  #page-transition {
    position: relative;
    background-color:#edebe2;
    /* #1f1e1e */
    z-index: 3;
    height: 100vh;
    width: 0vw;
    transition: width 1.2s ease;
  }

#logo {
  height: clamp(1.5rem, 6vw, 6rem);
  padding: 0rem clamp(3rem, 5vw, 7rem);
  transition: transform 0.7s ease, scale 0.5s ease;
  z-index: 2;

}

#logo:hover {
  transform: rotate(390deg);
}
